.FrequencyBand {
  background-color: white;
  overflow: auto;
}

.band-header {
  display: flex;
  min-width: 10em;
  margin-top: 4px;
  padding: 0 20px;
  position: absolute;
  background-color: white;
}

.freq-zoom-controls {
  top: 0;
  z-index: 5;
  position: absolute;
  background-color: bisque;
  visibility: visible;
}

.tip{

  padding: 2px;
  p {
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
  }
}
