.classification-banner {
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin: auto;
  width: 95%;
  position: relative;
  border-radius: 5px;
}

.classification-tag {
  font-weight: 700;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  margin-right: 4px;
  display: inline-block;
}

.ucolor {
  background-color: #007a33;
  color: white;
}

.cuicolor {
  background-color: #502b85;
  color: white;
}

.ccolor {
  background-color: #0033a0;
  color: white;
}

.scolor {
  background-color: #c8102e;
  color: white;
}

.tscolor {
  background-color: #ff8c00;
  color: black;
}

.tsscicolor {
  background-color: #fce83a;
  color: black;
}

.inner-classification {
  display: block;
  text-align: center;
  margin: auto;
  width: 95%;
  position: relative;
  border-radius: 5px;
}

.inner-ucolor {
  color: #007a33;
}

.inner-cuicolor {
  color: #502b85;
}

.inner-ccolor {
  color: #0033a0;
}

.inner-scolor {
  color: #c8102e;
}

.inner-tscolor {
  color: #ff8c00;
}

.inner-tsscicolor {
  color: #fce83a;
}

.class-svg {
  background-color: black;
}

.inner-authority {
  text-align: left;
  size: 14px;
}

.top {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1000;
  clear: both;
}
